#banner {
    height: 90vh;
    background: linear-gradient(to right, hsla(0, 2%, 17%, 0.856), rgba(44, 42, 42, 0.315)), url(PageCover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, h2, h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    letter-spacing: 3px;
}

.btn {
    padding: 15px 30px;
    font-weight: 900;
    border-radius: 60px;
    font-size: 18px;
    transition: all 0.3s ease;
}

.btn-brand {
    background-color: rgb(95, 143, 214);
    color: #f9f9fa;
    border: 2px solid rgb(243, 243, 243);
}

.btn-brand-hover {
    background-color: transparent;
    color: #0a0a0a;
    border: 2px solid #fff;
}

section {
    padding: 100px 0 ;
}

#about {
    background-color: #C9EBF2;
}

#about .btn-brand {
    background-color: rgb(241, 241, 241) !important;
}

#about .btn-brand {
    background-color: #91C4D9 !important; 
}

#about .row {
    background-color: #91C4D9;
    padding: 50px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.20);
}

#about h2 {
    font-size: 50px;
    font-weight: 800;
    color: #1F2E58;
}

#about h3 {
    color: #C9EBF2;
}

.eyy {
    width: 40%;
}

#services h2 {
    font-size: 50px;
    font-weight: 800;
    color: whitesmoke;
}

#services {
    background-color:#314888;
}

.card {
    transition: background-color 0.3s, color 0.3s;
    border: 5px solid var(--border); /* border style */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}



.card:hover {
    background-color: #C9EBF2;
}

.card:hover .card-title,
.card:hover .card-text,
.card:hover .btn {
    color: floralwhite;
}

#cta {
    height: 70vh;
    background: linear-gradient(to right, hsla(0, 2%, 17%, 0.856), rgba(44, 42, 42, 0.315)), url(cta.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.testimonials {
    padding: 30px;
    border: 2px solid red;
    border-radius: 30px;
}

.testimonials img {
    width: 65px;
    border-radius: 100px;
}

.testimonials a {
    color: red;
}

#reviews h2 {
    font-size: 55px;
    font-weight: 900;
    color: red;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(8, 8, 8);
}